@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin&display=swap');
#IntroPageSeccion3Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -0.5vh;
}
#IntroPageSeccion3ContainerUp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    background-color: black;
    background-image: url('../../../public/assets/preFooter.png'); /* Reemplaza esto con la ruta de tu imagen */
    background-size: cover; /* Para cubrir todo el contenido del div */
    background-position: center;
}

#IntroPageSeccion3ContainerDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100vw;
    background-color: rgb(48, 48, 48);
}

#IntroPageSeccion3ContainerUpRight{
    height: 20vh;
    width: 40vw;
    margin-top: -7vh;
    text-align: start;
}

#IntroPageSeccion3ContainerUpRightLabelTittle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: orange;
}

#IntroPageSeccion3ContainerUpRightTittle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    color: rgb(255, 255, 255);
}


#IntroPageSeccion3ContainerUpRightDesc{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: rgb(184, 184, 184);
}

#IntroPageSeccion3ContainerUpLeft{
    height: auto;
    width: 47vw;
}

.IntroPageSeccion3ContainerUpRightButton{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: auto;
    width: 10vw;
    margin-top: 15px;
}
.IntroPageSeccion3ContainerUpRightButton:hover{
    background-color: white;
    color: black;
    
    transition: 0.3s ease;

}

#IntroPageSeccion3ContainerUpRightButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content:start;
}

#IntroPageSeccion3ContainerUpRightButtonSpacer{
    height: auto;
    width: 5vw;
}

#IntroPageSeccion3ContainerDownRightlabel{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: orange;
}

#IntroPageSeccion3ContainerDownRightTittle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#IntroPageSeccion3ContainerDownLeftImg{
    margin-top: 10vh;
}

#IntroPageSeccion3ContainerFooter{
    height: 30vh;
    width: 100vw;
}